<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.catering.mapper.SmsRecordMapper">
    
    <resultMap type="SmsRecord" id="SmsRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="name"    column="name"    />
        <result property="garbageId"    column="garbage_id"    />
        <result property="restaurantId"    column="restaurant_id"    />
        <result property="restaurantName"    column="restaurant_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSmsRecordVo">
        select record_id, name, garbage_id, restaurant_id, restaurant_name, mobile, content, status, create_by, create_time, update_by, update_time, remark from cy_sms_record
    </sql>

    <select id="selectSmsRecordList" parameterType="SmsRecord" resultMap="SmsRecordResult">
        <include refid="selectSmsRecordVo"/>
        <where>  
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSmsRecordById" parameterType="Long" resultMap="SmsRecordResult">
        <include refid="selectSmsRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertSmsRecord" parameterType="SmsRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into cy_sms_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="garbageId != null">garbage_id,</if>
            <if test="restaurantId != null">restaurant_id,</if>
            <if test="restaurantName != null">restaurant_name,</if>
            <if test="mobile != null">mobile,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="garbageId != null">#{garbageId},</if>
            <if test="restaurantId != null">#{restaurantId},</if>
            <if test="restaurantName != null">#{restaurantName},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSmsRecord" parameterType="SmsRecord">
        update cy_sms_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="garbageId != null">garbage_id = #{garbageId},</if>
            <if test="restaurantId != null">restaurant_id = #{restaurantId},</if>
            <if test="restaurantName != null">restaurant_name = #{restaurantName},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteSmsRecordById" parameterType="Long">
        delete from cy_sms_record where record_id = #{recordId}
    </delete>

    <delete id="deleteSmsRecordByIds" parameterType="String">
        delete from cy_sms_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

</mapper>