<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('餐饮信息列表')"/>
</head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            餐馆名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            联系人：<input type="text" name="legalPerson"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "catering/restaurant";

    $(function () {
        var options = {
            url: prefix + "/list",
            queryParams: queryParams,
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "餐馆",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'restaurantId',
                    title: '餐馆id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '餐馆名称'
                },
                {
                    field: 'legalPerson',
                    title: '联系人'
                },
                {
                    field: 'tel',
                    title: '联系方式'
                },
                {
                    field: 'premises',
                    title: '地址'
                }]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        return search;
    }
</script>
</body>
</html>