<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="../static/index/css/style.css" th:href="@{/index/css/style.css}" rel="stylesheet"/>
    <link href="../static/index/css/jquery-ui.css" th:href="@{/index/css/jquery-ui.css}" rel="stylesheet"/>
</head>

<body>
<div class="main">
    <div class="container">
        <div class="title">
            <div class="total">
                <span>工作统计</span>
            </div>
            <div class="date">
                <div>
                    <label for="street" id="street">街道</label>
                </div>
                <div>
                    <select id="change">
                        <option value="" selected>全部街道</option>
                        <option value="103">白石街道</option>
                        <option value="104">北白象镇</option>
                        <option value="茶山街道">茶山街道</option>
                        <option value="郭溪街道">郭溪街道</option>
                        <option value="泽雅镇">泽雅镇</option>
                        <option value="新桥街道">新桥街道</option>
                        <option value="娄桥街道">娄桥街道</option>
                        <option value="丽岳街道">丽岳街道</option>
                        <option value="梧田街道">梧田街道</option>
                        <option value="仙岩街道">仙岩街道</option>
                        <option value="南白象街道">南白象街道</option>
                        <option value="三洋街道">三洋街道</option>
                        <option value="景山街道">景山街道</option>
                        <option value="覆溪街道">覆溪街道</option>
                        <option value="潘桥街道">潘桥街道</option>
                    </select>
                </div>
                <div>
                    <!-- <label for="开始">开始</label>
                    <input type="text" name="" id="start">
                    <label>至</label>
                    <input type="text" name="" id="end">
                    <label for="结束">结束</label> -->
                    <button class="btns" onclick="indexData()">搜索</button>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="panle-group">
                <div class="text">
                    <p>总商户（户）</p>
                    <span id="restaurantCount">0</span>

                </div>
                <img th:src="@{/index/images/item.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运商户（户）</p>
                    <span id="recoveredCount">0</span>

                </div>
                <img th:src="@{/index/images/item2.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已检查商户（户）</p>
                    <span id="checkedCount">0</span>

                </div>
                <img th:src="@{/index/images/item3.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>不合格商户（户）</p>
                    <span id="unqualifiedCount">0</span>

                </div>
                <img th:src="@{/index/images/item5.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运地沟油（吨）</p>
                    <span id="gutterOilWeight">0</span>

                </div>
                <img th:src="@{/index/images/item6.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运老油（吨）</p>
                    <span id="oldOilWeight">0</span>

                </div>
                <img th:src="@{/index/images/item7.png}" alt="">
            </div>
        </div>
        <div class="section">
            <div class="line">
                <span>收运检查频率走势图</span>
                <div class="btn">
                    <a href="javascript:;" class="active">最近一周</a>
                    <a href="javascript:;">最近一月</a>
                </div>

                <div id="main"></div>
            </div>
            <div class="pie">
                <span>收运完成率</span>
                <div class="score">
                    <div class="top">
                        <img th:src="@{/index/images/circle.png}" alt="">
                        <!-- <i></i> -->
                        <p>已完成收运</p>
                    </div>
                    <div class="bottom">
                        <p>总数：</p>
                        <span id="recoveredCount2">0</span>
                        <p>占比：</p>
                        <span id="per1">0%</span>
                    </div>
                    <div class="top">
                        <!-- <img src="./images/circle.png" alt=""> -->
                        <i></i>
                        <p>未完成收运</p>
                    </div>
                    <div class="bottom">
                        <p>总数：</p>
                        <span id="unRecoveredCount">0</span>
                        <p>占比：</p>
                        <span id="per2">100%</span>
                    </div>
                </div>
                <div id="main1"></div>

            </div>
        </div>

        <div class="footer">
            <div class="bar">
                <span>街道分布</span>
                <div class="penel">
                    <div id="main2"></div>
                    <!-- <div id="main3"></div> -->
                </div>
            </div>
            <div class="table">
                <p>实时运收记录</p>
                <div class="top">
                    <ul>
                        <li>
                            <span>时间</span>
                            <span>类型</span>
                            <span>运收员</span>
                            <span>数量</span>
                            <span>商户地址</span>
                        </li>
                    </ul>
                </div>
                <div class="bottom" id="rrList">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/index/js/flexible.js}"></script>
<script th:src="@{/index/js/echarts.min.js}"></script>
<script th:src="@{/index/js/jquery.js}"></script>
<script th:src="@{/index/js/jquery-ui.js}"></script>
<script th:src="@{/index/js/jquery.SuperSlide.2.1.3.js}"></script>
<script th:src="@{/index/js/index.js}"></script>
<script>
    var ctx = [[@{/}]];
    var prefix = ctx + "catering/myindex";
    var monthData = [];
    $(document).ready(function () {
        // 滚动
        $(".table").slide({
            mainCell: ".bottom",
            autoPlay: true,
            effect: "topMarquee",
            vis: 5,
            interTime: 50,
        })
        indexData()
    });

    function indexData() {
        var myChart = echarts.init(document.getElementById("main"));
        myChart.showLoading({
            text: '数据正在加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        var myChart2 = echarts.init(document.getElementById("main1"));
        myChart2.showLoading({
            text: '数据正在加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        var deptId = $("#change option:selected").val()
        $.ajax({
            url: prefix + "/indexData",
            method: "post",
            dataType: "json",
            data: {
                deptId: deptId
            },
            success: function (res) {
                console.log(res)
                $("#restaurantCount").text(res.restaurantCount)
                $("#recoveredCount").text(res.recoveredCount)
                $("#checkedCount").text(res.checkedCount)
                $("#unqualifiedCount").text(res.unqualifiedCount)
                $("#gutterOilWeight").text(res.gutterOilWeight)
                $("#oldOilWeight").text(res.oldOilWeight)

                $("#recoveredCount2").text(res.recoveredCount)
                $("#unRecoveredCount").text(res.unRecoveredCount)
                var sum = res.recoveredCount + res.unRecoveredCount;
                $("#per1").text(((res.recoveredCount / sum) * 100).toFixed(2) + "%")
                $("#per2").text(((res.unRecoveredCount / sum) * 100).toFixed(2) + "%")

                if (res.rrList.length) {
                    for (index in res.rrList) {
                        var recoveryRecord = res.rrList[index]
                        var span1 = $("<span>" + recoveryRecord.recoveryDate + "</span>")
                        var span2 = $("<span>" + (recoveryRecord.garbageId == 1 ? '老油' : recoveryRecord.garbageId == 2 ? '地沟油' : '未知') + "</span>")
                        var span3 = $("<span>" + recoveryRecord.user.userName + "</span>")
                        var span4 = $("<span>" + recoveryRecord.weight + "</span>")
                        var span5 = $("<span>" + recoveryRecord.location + "</span>")
                        var li = $("<li></li>")
                        li.append(span1)
                        li.append(span2)
                        li.append(span3)
                        li.append(span4)
                        li.append(span5)
                        var ul = $("<ul></ul>")
                        ul.append(li)
                        $('#rrList').append(ul)
                    }
                }

                $(".table").slide({
                    mainCell: ".bottom",
                    autoPlay: true,
                    effect: "topMarquee",
                    vis: 5,
                    interTime: 50,
                })

                myChart.setOption({
                    xAxis: [{
                        data: res.wdateArray
                    }],
                    series: [
                        {
                            data: res.wrecoveryArray
                        },
                        {
                            data: res.wcheckArray
                        }
                    ]
                });
                monthData = [
                    [
                        {
                            data: res.wdateArray,
                        },
                        {
                            data: res.wrecoveryArray,
                        },
                        {
                            data: res.wcheckArray,
                        }
                    ], [
                        {
                            data: res.mdateArray,
                        },
                        {
                            data: res.mrecoveryArray,
                        },
                        {
                            data: res.mcheckArray,
                        }
                    ]
                ];
                myChart.hideLoading();

                myChart2.setOption({
                    title: {
                        text: ((res.recoveredCount / sum) * 100).toFixed(2) + "%"
                    },
                    series: [
                        {
                            data: [
                                {
                                    value: res.recoveredCount,
                                },
                                {
                                    value: res.unRecoveredCount,
                                },
                            ],
                        },
                    ],
                });
                myChart2.hideLoading();
            }
        })
    }

    //判断字符是否为空的方法
    function isEmpty(obj) {
        if (typeof obj == "undefined" || obj == null || obj == "") {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>

</html>