<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="../static/index/css/style.css" th:href="@{/index/css/style.css}" rel="stylesheet"/>
    <link href="../static/index/css/jquery-ui.css" th:href="@{/index/css/jquery-ui.css}" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link href="../static/index/css/cascader.css" th:href="@{/index/css/cascader.css}" rel="stylesheet"/>
    <style>
        .layui-input-block{
            margin-left: 0px;
        }
    </style>
</head>

<body>
<div class="main">
    <div class="container">
        <div class="title">
            <div class="total">
                <span>工作统计</span>
            </div>
            <div class="date">
                <div>
                    <label for="street" id="street">所属区域</label>
                </div>
                <input type="hidden" id="deptId">
                <div class="cascaderbox" id="cascaderbox">
                    <div class="inputbox">
                        <span class="arrdown"></span>
                        <input autocomplete="off" class="searchtxt" type="text" placeholder="选择区域">
                        <span class="labelshow"></span>
                    </div>
                    <div class="dlist hid"></div>
                    <div class="dlist searchdlist hid"></div>
                </div>

                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">日期范围</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input type="text" class="layui-input" id="test6" placeholder=" - ">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input-block" id="startTime" placeholder=""
                               autocomplete="off"/>
                        <span class="input-group-addon">到</span>
                        <input type="text" class="layui-input-block" id="endTime" placeholder=""
                               autocomplete="off"/>
                    </div>
                </div>
                <div>
                    <button class="btns" onclick="indexData()">搜索</button>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="panle-group">
                <div class="text">
                    <p>总商户（户）</p>
                    <span id="restaurantCount">0</span>

                </div>
                <img th:src="@{/index/images/item.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运商户（户）</p>
                    <span id="recoveredCount">0</span>

                </div>
                <img th:src="@{/index/images/item2.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已检查商户（户）</p>
                    <span id="checkedCount">0</span>

                </div>
                <img th:src="@{/index/images/item3.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>不合格商户（户）</p>
                    <span id="unqualifiedCount">0</span>

                </div>
                <img th:src="@{/index/images/item5.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运地沟油（kg）</p>
                    <span id="gutterOilWeight">0</span>

                </div>
                <img th:src="@{/index/images/item6.png}" alt="">
            </div>
            <div class="panle-group">
                <div class="text">
                    <p>已收运老油（kg）</p>
                    <span id="oldOilWeight">0</span>

                </div>
                <img th:src="@{/index/images/item7.png}" alt="">
            </div>
        </div>
        <div class="section">
            <div class="line">
                <span>收运检查频率走势图</span>
                <div class="btn">
                    <a href="javascript:;" class="active">最近一周</a>
                    <a href="javascript:;">最近一月</a>
                </div>

                <div id="main"></div>
            </div>
            <div class="pie">
                <span>收运完成率</span>
                <div class="score">
                    <div class="top">
                        <img th:src="@{/index/images/circle.png}" alt="">
                        <!-- <i></i> -->
                        <p>已完成收运</p>
                    </div>
                    <div class="bottom">
                        <p>总数：</p>
                        <span id="recoveredCount2">0</span>
                        <p>占比：</p>
                        <span id="per1">0%</span>
                    </div>
                    <div class="top">
                        <!-- <img src="./images/circle.png" alt=""> -->
                        <i></i>
                        <p>未完成收运</p>
                    </div>
                    <div class="bottom">
                        <p>总数：</p>
                        <span id="unRecoveredCount">0</span>
                        <p>占比：</p>
                        <span id="per2">100%</span>
                    </div>
                </div>
                <div id="main1"></div>

            </div>
        </div>

        <div class="footer">
            <div class="bar">
                <span>街道分布</span>
                <div class="penel">
                    <div id="main2"></div>
                    <!-- <div id="main3"></div> -->
                </div>
            </div>
            <div class="table">
                <p>实时运收记录</p>
                <div class="top">
                    <ul>
                        <li>
                            <span>时间</span>
                            <span>类型</span>
                            <span>运收员</span>
                            <span>数量</span>
                            <span>商户地址</span>
                        </li>
                    </ul>
                </div>
                <div class="bottom" id="rrList">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/index/js/flexible.js}"></script>
<script th:src="@{/index/js/echarts.min.js}"></script>
<script th:src="@{/index/js/jquery.js}"></script>
<script th:src="@{/index/js/jquery-ui.js}"></script>
<script th:src="@{/index/js/jquery.SuperSlide.2.1.3.js}"></script>
<script th:src="@{/index/js/index.js}"></script>
<script th:src="@{/index/js/cascader.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    var ctx = [[@{/}]];
    var prefix = ctx + "catering/myindex";
    var monthData = [];

    $(document).ready(function () {
        $.ajax({
            url: prefix + "/deptArray",
            method: "get",
            dataType: "json",
            success: function (res) {
                console.log(res)
                $('#cascaderbox').cascader({
                    data: res,
                    changeOnSelect: true, //选择即改变,可选择任意级
                    selectFn: function (selectjson) { //selectFn回调函数
                        console.log(JSON.stringify(selectjson)); //参数为最终选择的json数组
                        $('#testJSON').html(JSON.stringify(selectjson));
                        $("#deptId").val(selectjson.slice(selectjson.length - 1)[0].value)
                        // console.log(selectjson.slice(selectjson.length-1)[0].value)
                    }
                });
            }
        });

        <!-- laydate示例 -->
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //日期范围
            // laydate.render({
            //     elem: '#test6'
            //     , range: true
            // });
            var startDate = laydate.render({
                elem: '#startTime',
                max: $('#endTime').val(),
                theme: 'molv',
                trigger: 'click',
                done: function (value, date) {
                    // 结束时间大于开始时间
                    if (value !== '') {
                        endDate.config.min.year = date.year;
                        endDate.config.min.month = date.month - 1;
                        endDate.config.min.date = date.date;
                    } else {
                        endDate.config.min.year = '';
                        endDate.config.min.month = '';
                        endDate.config.min.date = '';
                    }
                }
            });

            var endDate = laydate.render({
                elem: '#endTime',
                min: $('#startTime').val(),
                theme: 'molv',
                trigger: 'click',
                done: function (value, date) {
                    // 开始时间小于结束时间
                    if (value !== '') {
                        startDate.config.max.year = date.year;
                        startDate.config.max.month = date.month - 1;
                        startDate.config.max.date = date.date;
                    } else {
                        startDate.config.max.year = '';
                        startDate.config.max.month = '';
                        startDate.config.max.date = '';
                    }
                }
            });
        });

        // 滚动
        $(".table").slide({
            mainCell: ".bottom",
            autoPlay: true,
            effect: "topMarquee",
            vis: 5,
            interTime: 50,
        })
        indexData()
    });

    function indexData() {
        var startDate = $("#startTime").val();
        var endDate = $("#endTime").val();
        var myChart = echarts.init(document.getElementById("main"));
        myChart.showLoading({
            text: '数据正在加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        var myChart2 = echarts.init(document.getElementById("main1"));
        myChart2.showLoading({
            text: '数据正在加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        var myChart3 = echarts.init(document.getElementById("main2"));
        myChart3.showLoading({
            text: '数据正在加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        var deptId = $("#deptId").val()
        $.ajax({
            url: prefix + "/indexData",
            method: "post",
            dataType: "json",
            data: {
                deptId: deptId,
                startDate: startDate,
                endDate: endDate
            },
            success: function (res) {
                console.log(res)
                $("#restaurantCount").text(res.restaurantCount)
                $("#recoveredCount").text(res.recoveredCount)
                $("#checkedCount").text(res.checkedCount)
                $("#unqualifiedCount").text(res.unqualifiedCount)
                $("#gutterOilWeight").text(res.gutterOilWeight)
                $("#oldOilWeight").text(res.oldOilWeight)

                $("#recoveredCount2").text(res.recoveredCount)
                $("#unRecoveredCount").text(res.unRecoveredCount)
                var sum = res.recoveredCount + res.unRecoveredCount;
                $("#per1").text(((res.recoveredCount / sum) * 100).toFixed(2) + "%")
                $("#per2").text(((res.unRecoveredCount / sum) * 100).toFixed(2) + "%")

                $("#rrList").empty()
                if (res.rrList.length) {
                    for (index in res.rrList) {
                        var recoveryRecord = res.rrList[index]
                        var span1 = $("<span>" + recoveryRecord.recoveryDate + "</span>")
                        var span2 = $("<span>" + (recoveryRecord.garbageId == 1 ? '老油' : recoveryRecord.garbageId == 2 ? '地沟油' : '未知') + "</span>")
                        var span3 = $("<span>" + recoveryRecord.user.userName + "</span>")
                        var span4 = $("<span>" + recoveryRecord.weight + "</span>")
                        var span5 = $("<span>" + recoveryRecord.location + "</span>")
                        var li = $("<li></li>")
                        li.append(span1)
                        li.append(span2)
                        li.append(span3)
                        li.append(span4)
                        li.append(span5)
                        var ul = $("<ul></ul>")
                        ul.append(li)
                        $('#rrList').append(ul)
                    }
                }

                $(".table").slide({
                    mainCell: ".bottom",
                    autoPlay: true,
                    effect: "topMarquee",
                    vis: 5,
                    interTime: 50,
                })

                myChart.setOption({
                    xAxis: [{
                        data: res.wdateArray
                    }],
                    series: [
                        {
                            data: res.wrecoveryArray
                        },
                        {
                            data: res.wcheckArray
                        }
                    ]
                });
                monthData = [
                    [
                        {
                            data: res.wdateArray,
                        },
                        {
                            data: res.wrecoveryArray,
                        },
                        {
                            data: res.wcheckArray,
                        }
                    ], [
                        {
                            data: res.mdateArray,
                        },
                        {
                            data: res.mrecoveryArray,
                        },
                        {
                            data: res.mcheckArray,
                        }
                    ]
                ];
                myChart.hideLoading();

                myChart2.setOption({
                    title: {
                        text: ((res.recoveredCount / sum) * 100).toFixed(2) + "%"
                    },
                    series: [
                        {
                            data: [
                                {
                                    value: res.recoveredCount,
                                },
                                {
                                    value: res.unRecoveredCount,
                                },
                            ],
                        },
                    ],
                });
                myChart2.hideLoading();

                myChart3.setOption({
                    yAxis: [{
                        data: res.deptList1
                    }, {
                        data: res.deptList2
                    }],
                    series: [
                        {
                            data: res.deptCountList,
                        },
                        {
                            data: res.deptCountList2,
                        },
                    ],
                });
                myChart3.hideLoading();
            }
        })
    }

    //判断字符是否为空的方法
    function isEmpty(obj) {
        if (typeof obj == "undefined" || obj == null || obj == "") {
            return true;
        } else {
            return false;
        }
    }

    function getLast(array, x) {
        return array.slice(array.length - x)
    }

</script>
</body>

</html>