<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('回收记录列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 组织机构
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i
                        class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i
                        class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" id="deptId" name="params[deptId]">
                    <input type="hidden" id="parentId" name="parentId">
                    <input type="hidden" id="restaurantId" name="restaurantId" th:value="${restaurantId}">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>餐馆名称：</label>
                                <input type="text" name="params[restaurantName]" id="restaurantName"/>
                            </li>
                            <li>
                                <label>回收人员：</label>
                                <input type="text" name="params[userName]" id="userName"/>
                            </li>
                            <li>
                                <p>垃圾分类：</p>
                                <select name="garbageId">
                                    <option value="">所有</option>
                                    <option th:each="garbage : ${garbages}" th:text="${garbage.name}"
                                            th:value="${garbage.garbageId}"></option>
                                </select>
                            </li>
                            <!--<li>-->
                            <!--<label>垃圾分类：</label>-->
                            <!--<input type="text" name="garbageId"/>-->
                            <!--</li>-->
                            <li class="select-time">
                                <label>回收日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginRecoveryDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endRecoveryDate]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="catering:recoveryRecord:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="catering:recoveryRecord:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="catering:recoveryRecord:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()"
                   shiro:hasPermission="catering:recoveryRecord:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('catering:recoveryRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('catering:recoveryRecord:remove')}]];
    var statusDatas = [[${@dict.getType('sys_recovery_status')}]];
    var prefix = ctx + "catering/recoveryRecord";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryRecoveryRecordList();
        queryDeptTree();
    });

    function queryRecoveryRecordList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "回收记录",
            queryParams: queryParams,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '回收记录id',
                    visible: false
                },
                {
                    field: 'dept.deptName',
                    title: '街道'
                },
                {
                    field: 'restaurant.name',
                    title: '商户'
                },
                {
                    field: 'location',
                    title: '定位地点'
                },
                {
                    field: 'user.userName',
                    title: '回收人员'
                },
                {
                    field: 'carNo',
                    title: '回收车号'
                },
                {
                    field: 'garbage.name',
                    title: '垃圾分类'
                },
                {
                    field: 'weight',
                    title: '回收重量',
                    formatter: function (value) {
                        if (typeof value != "undefined" && value != null && value != "") {
                            value = value + "kg";
                        }
                        return value;
                    }
                },
                {
                    field: 'img',
                    title: '回收前照片',
                    formatter: function (value, row, index) {
                        var src = '';
                        if (typeof value != "undefined" && value != null && value != "") {
                            var photos = new Array();
                            photos = value.split(",");
                            for (i = 0; i < photos.length; i++) {
                                src += $.table.imageView(photos[i], 600, 800, '');
                            }
                        }
                        return src;
                    }
                },
                {
                    field: 'recycleImg',
                    title: '回收后照片',
                    formatter: function (value, row, index) {
                        var src = '';
                        if (typeof value != "undefined" && value != null && value != "") {
                            var photos = new Array();
                            photos = value.split(",");
                            for (i = 0; i < photos.length; i++) {
                                src += $.table.imageView(photos[i], 600, 800, '');
                            }
                        }
                        return src;
                    }
                },
                {
                    field: 'recoveryDate',
                    title: '回收日期'
                },
                // {
                //     field: 'status',
                //     title: '状态',
                //     formatter: function (value, row, index) {
                //         return $.table.selectDictLabel(statusDatas, value);
                //     }
                // },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function queryDeptTree() {
        var url = ctx + "system/dept/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick: zOnClick
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            $("#deptId").val(treeNode.id);
            $("#parentId").val(treeNode.pId);
            $.table.search();
        }
    }

    $('#btnExpand').click(function () {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function () {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function () {
        queryDeptTree();
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.restaurantName = $("#restaurantName").val();
        search.userName = $("#userName").val();
        search.deptId = $("#deptId").val();
        return search;
    }
</script>
</body>
</html>